<html>
    <head>
        <%- include ../includes/_head%>
        <link rel="stylesheet" href="./public/stylesheet/home_style.css">
    </head>

    <body>
        <div id="home">
            <%- include('../includes/_header')%>
            <div class="creator_body d-flex justify-content-center mt-5">
                <div class="col-md-8 col-sm-11 col-11">
                    <h4 class="text-light mb-3">Boards</h4>
                    <div class="row">
                        <div v-on:click="selectBoard(board._id)" class="col-md-6 col-lg-3 col-6 my-2 px-3" v-for="(board,index) in loginUser.board_list">
                            <div class="card card_board" v-bind:style="{ 'background-image': 'url(' + board.background_url + ')' }">
                                <div class="card-title m-2">
                                    <h6 class="text-light">{{ board.name }}</h6>
                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div style="position:absolute; top:0px; right:25px; width: 200px;">
                    <button class="btn-dark btn create-board" data-toggle="modal" data-target="#exampleModal" >+ CreateBoard</button>
                </div>
                <%- include ../modals/creator_board_modal%>
            </div>            
        </div>    
        <%- include ../includes/_footer%>
        <script src="./public/javascript/home.js"></script>
    </body>

</html>