<html>
    <head>
        <%- include ../includes/_head%>
        <link rel="stylesheet" href="./public/stylesheet/home_style.css">
    </head>

    <body>
        <div id="creator_board">
            <%- include('../includes/_header')%>
            <div class="creator_body d-flex justify-content-center mt-5">
                <div class="col-md-8 col-sm-11 col-11">
                    <h4 class="text-light mb-3">Boards</h4>
                    <div class="row">
                        <div v-on:click="selectBoard(board._id)" class="col-md-6 col-lg-3 col-6 my-2 px-1" v-for="(board,index) in loginUser.board_list">
                            <div class="card card_board">
                                <div class="card-title m-2">
                                    <h6 class="text-light">{{ board.name }}</h6>
                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div style="position:absolute; top:0px; right:25px; width: 200px;">
                    <button class="btn-dark btn create-board" data-toggle="modal" data-target="#exampleModal">+ CreateBoard</button>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header py-3">
                                <h5 class="modal-title" id="exampleModalLabel">Add Board Title</h5>                        
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>                                
                            </div>
                            <div class="modal-body py-0 pb-3">
                                <input class="form-control" v-model="boardTitle">                            
                            </div>                            
                            <div class="px-3 pb-2">
                                <button @click="createBoard()" class="btn btn-light text-dark w-100" data-dismiss="modal" aria-label="Close">Create Board</button>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>            
        </div>    
        <%- include ../includes/_footer%>
        <script src="./public/javascript/home.js"></script>
    </body>

</html>