<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

</head>

<body>
    <img src="https://i.imgur.com/pfK8xFz.png" class="logo" alt="">
    <div id="app">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-light">{{ boardName }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <!-- 用for-->
                <div class="btn-group">
                    <a v-for="member in members" class="pointer d-flex align-items-center mx-1">
                        <div class="rounded-circle d-flex justify-content-center" style="width:40px; height: 40px;">
                            <img class="img-circle" src="https://i.imgur.com/gkP68Yq.png" style="width:40px; height: 40px;"
                                alt="">
                        </div>
                    </a>
                    <!-- 新增按鈕 -->
                    <a class="pointer d-flex align-items-center mx-1" data-toggle="modal" data-target="#addMember">
                        <div class="rounded-circle d-flex justify-content-center" style="width:40px; height: 40px; background-color:#8A8788;">
                            <span class="d-flex align-items-center">+</span>
                        </div>
                    </a>

                </div>

                <div class="btn-group nav-item dropdown">
                    <h6 class="mr-3 mb-0 d-flex align-items-center text-light">{{ user.email }}</h6>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img class="img-circle" src="https://i.imgur.com/gkP68Yq.png" alt="" style="width:40px; height: 40px;">
                    </a>
                    <div class="dropdown-menu bg-dark nav-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" href="#">Logout</a>
                    </div>
                </div>
            </div>

        </nav>


        <div class="container machine-contents mt-3">
            <draggable v-model="jobs">
                <transition-group name="list-complete" class="row d-flex justify-content-center">
                    <div v-for="(job, index) in jobs" v-bind:key="job.jobName" class="list-complete-item col-md">
                        <div class="column card grab card-title-color" style="background-color:#ededed">
                            <div class="card-body">
                                <div>
                                    {{ job.jobName }}
                                </div>
                                <div>
                                    <draggable v-model="job.card" class="dragArea" :options="{group:{ name:'people' }}">

                                        <div v-for="(element, index) in job.card" :key="index">
                                            <a data-toggle="modal" data-target="#exampleModal">
                                                <div class="task card grab my-2" style="background-color:#f8f8f8">
                                                    <div class="card-body text-center">
                                                        {{ element.name }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </draggable>
                                    <a data-toggle="modal" :data-target="'#'+job.id">
                                        <div class="task card grab my-2" style="background-color:#f8f8f8">
                                            <div class="card-body p-0 py-1">
                                                <h2 class="text-center m-0">+</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- 新增卡片model -->
                            <div class="modal fade" :id="job.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Card</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="btn-group">
                                                <h5 class="mr-3 mb-0 d-flex align-items-center">Task Name:</h5>
                                                <input type="text" placeholder="Task" v-model="addTask">                                               
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button v-on:click="addCard(job.id)" type="button" data-dismiss="modal" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </transition-group>
            </draggable>
        </div>
        <!-- 新增Member -->
        <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group">
                            <h5 class="mr-3 mb-0 d-flex align-items-center">Email:</h5>
                            <input type="text" placeholder="請輸入電子郵件" v-model="addEmail">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-on:click="addMember()" type="button" data-dismiss="modal" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- 卡片修改 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- 報表 model-->

        <!--  -->
    </div>

</body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

    html,
    body {
        /* height: 100vh; */
        /* width: 100%; */
        background: ivory;
        /* overflow: hidden; */
        font-family: 'Open Sans', sans-serif;
        background-image: url(https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        color: #232931;
    }

    @media (max-width: 768px) {
        .logo {
            display: none;
        }
    }

    .dropdown-item:hover {
        background-color: #8A8788;
    }

    .logo {
        z-index: 10000;
        position: absolute;
        top: 75%;
        right: 50;
        width: 150px;
        height: 150px;
    }

    .column {
        -webkit-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
        -moz-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
        box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
    }

    .task {}

    .grab {
        cursor: -webkit-grab;
        cursor: grab;
    }

    .pointer {
        cursor: pointer;
    }

    .list-complete-item {
        padding: 4px;
        margin-top: 4px;

        transition: all 0.5s;
    }

    .card-title-color {
        border-top: 5px solid;
        border-top-color: #f73859;
    }

    .list-complete-enter,
    .list-complete-leave-active {
        opacity: 0;
    }


    .dragArea {
        min-height: 10px;
    }
</style>
<script>
    var vm = new Vue({
        el: '#app',
        name: 'mfgActivity',
        data: {
            boardName: 'FirstBoard',
            user: {
                name: 'Lucy',
                email: 'lucy@gmail.com',
                image: ''
                //可以在新增 
            },
            addEmail: '',
            addTask:'',
            members: [{
                name: 'Lucy',
                email: 'lucy@gmail.com',
                image: '',
            }, ],

            jobs: [{
                    id: "0",
                    jobName: "To Do",
                    card: [{
                            name: 'Lucy'
                        },
                        {
                            name: 'Amy'
                        },
                        {
                            name: 'peter'
                        },
                        {
                            name: 'test'
                        }
                    ]
                },
                {
                    id: "1",
                    jobName: "In progress",
                    card: []
                },
                {
                    id: "2",
                    jobName: "Done",
                    card: []
                }
            ],
        },
        watch: {

        },
        methods: {
            removeJob: function (machineId, jobNumber, jobs, index) {
                // Remove job from GUI
                jobs.splice(index, 1);
            },

            addMember: function () {
                this.members.push({
                    name: this.addEmail,
                    email: this.addEmail,
                    image: '',
                });
                this.addEmail = '';
            },
            addCard: function (columnNumber) {
                for(i=0; i < this.jobs.length;i++){
                    if(columnNumber == i){
                        this.jobs[columnNumber].card.push({name:this.addTask});                        
                    }
                }
                this.addTask = '';
            }
        }
    })
</script>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>