
<head>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    </head>
    
    <body>
        <h1>hello world</h1>
        <input id="email" type="email" />
        <input id="password" type="password" />
        <button id="btn">Register</button>        
    </body>
    
    <script>
        $('#btn').click(function() {    
            let email = $('#email').val();
            let password = $('#password').val();

            let payload = {
                username: email,
                password
            };

            $.ajax({
                type : 'POST',
                url : '/register',
                data : payload,
                success : data => {
                    console.log('login success');
                    console.log(data);
                },
                error : (jqXHR, exception) => { 
                    console.log('register error');
                }
            });    
        })
    
    
    </script>