<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header py-3">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Add Board Title</h5>                        
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                                
            </div>
            <div class="modal-body py-0 pb-3">
                <input ref="createBoard" class="form-control" v-model="boardTitle">                            
            </div>                            
            <div class="px-3 pb-2">
                <button @click="createBoard()" class="btn btn-light text-dark w-100" data-dismiss="modal" aria-label="Close">Create Board</button>
            </div>
        </div>
        
    </div>
</div>