<div class="list-group">
    <!--  -->
    <div class="btn-group nav-item dropdown">
        <a class="w-100 button-link" id="members" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="mr-2" style="vertical-align: baseline;" src="/public/icon/010-user-icon.png" alt="" width="15px"
                height="15px">
            <span style="position: relative; top: -3; font-size: 14px;">
                Members
            </span>
        </a>
    <div class="dropdown-menu nav-menu p-3" aria-labelledby="members" style="min-width:250px">
        <div class="input-group justify-content-between align-items-center">
            <h6></h6>
            <h6 class="text-center pt-2" style="font-weight:900;">Member</h6>
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="dropdown-divider"></div>
            <div class="input-group" v-for="(member,member_index) in board.members">
                <div class="my-1 input-group d-flex align-items-center member-hover" style="border-bottom:1px solid;border-color:darkgray;"
                    v-on:click="AssignMember(member._id)">
                    <img class="mr-3 rounded-circle" :src="member.icon_url" style="width:40px; height: 40px;" alt="">
                    <p class="m-0" style="font-weight:900;">&nbsp;{{ member.email }} ({{member.name}})</p>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="btn-group nav-item dropdown">
        <a class="w-100 button-link" id="labels" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-stopPropagation="true">
            <img class="mr-2" style="vertical-align: baseline;" src="/public/icon/004-tag-outline.png" alt="" width="15px"
                height="15px">
            <span style="position: relative; top: -3; font-size: 14px;">
                Labels
            </span>
        </a>
        <div class="dropdown-menu nav-menu p-3 dropdown-label-style" aria-labelledby="labels">
            <div class="input-group justify-content-between align-items-center label-dropdown">
                <h6></h6>
                <h6 class="text-center" style="font-weight:900;">Labels</h6>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div @click.stop="" class="mt-2">
                <input class="form-control" type="" name="" v-model="labelText" placeholder="Label Text" @keyup.enter="AddLabel" @blur="CancelAddLabel">
                <div class="color-options mt-2">
                    <div class="label-color my-2" v-for="(color,colorIndex) in colorList">
                        <button class="label-color " :class="'colorview-'+colorIndex" :style="{'background-color': color}" @click.stop="SelectColor(colorIndex)">
                            <img src="/public/icon/white_icon/check.png" v-if="selectColorIndex == colorIndex">
                        </button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="btn-group nav-item dropdown">
        <a class="w-100 button-link" id="checklist" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="mr-2" style="vertical-align: baseline;" src="/public/icon/001-verified-checkbox-symbol.png"
                alt="" width="15px" height="15px">
            <span style="position: relative; top: -3; font-size: 14px;">
                Checklist
            </span>
        </a>
        <div class="dropdown-menu nav-menu p-3" aria-labelledby="checklist">
            <div class="input-group justify-content-between align-items-center">
                <h6></h6>
                <h6 class="text-center" style="font-weight:900;">Checklist</h6>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="btn-group nav-item dropdown">
        <a class="w-100 button-link" id="due-date" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="mr-2" style="vertical-align: baseline;" src="/public/icon/002-circular-clock.png" alt="" width="15px"
                height="15px">
            <span style="position: relative; top: -3; font-size: 14px;">
                Due Date
            </span>
        </a>
        <div class="dropdown-menu nav-menu p-3" aria-labelledby="due-date">
            <div class="input-group justify-content-between align-items-center">
                <h6></h6>
                <h6 class="text-center" style="font-weight:900;">Due Date</h6>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <!--  -->
    <a v-on:click="RemoveCard" class="w-100 button-link bg-danger" data-dismiss="modal" aria-label="Close">
        <img class="mr-2" style="vertical-align: baseline;" src="/public/icon/black_icon/trash.png" alt="" width="15px"
            height="15px">
        <span class="text-light" style="position: relative; top: -3; font-size: 14px;">
            Remove
        </span>
    </a>
</div>