<div class="input-group mb-4">
    <div class="input-group py-2">
        <img class="mr-3" src="/public/icon/012-left-text-alignment-button.png"
        alt="" width="20px" height="20px">
        <span style="font-weight: 900; line-height: 20px;">
            Description
        </span>
    </div>
    <div>
        <div>            
            <div v-if="isDesciptionEdit">
                    <div>
                        <textarea v-model="selected_card.description" @keyup.enter="DoneEditDescription" v-focus
                        type="text" class="border comment-box-input"
                        placeholder="Add a more detailed description..." name="" id="description"
                        cols="60" style="overflow:auto; width:100%; border-color: #8A8788; resize: none; height:79px;"></textarea>
                    </div>
                    <div>
                        <button v-on:click="DoneEditDescription" class="mt-2 py-1 btn-success btn"
                            style="font-weight: 900;">Save</button>
                        <button v-on:click="CancelEditDescription" class="mt-2 py-1 btn-light btn"
                        style="font-weight: 900;">Cancel</button>
                    </div>
            </div>
            <div v-else @dblclick="EditDescription" ><p class="p-2">{{ selected_card.description }}</p></div>
        </div>
    </div>
</div>