<div class="input-group">
    <img class="mr-3" src="/public/icon/black_icon/star.png" alt="" width="20px" height="20px">
    <h6 style="font-weight: 900;">
        Activity
    </h6>
    <div>
        <div class="mt-3">

        </div>
    </div>
</div>