<div class="input-group mb-3">
    <div class="list-group">
        <img class="mr-3 mb-3" src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
            alt="" width="20px" height="20px">
        <img style="position:relative; left:-5;" src="https://scontent.ftpe4-1.fna.fbcdn.net/v/t1.0-9/18881998_779418485572996_3898353778183155785_n.jpg?_nc_cat=106&_nc_ht=scontent.ftpe4-1.fna&oh=e2a59b1de47590dd4a53b232e83224c5&oe=5C7583A3"
            height="32px;" width="32px;" class="rounded-circle"
            alt="">
    </div>
    <div>
        <h6 style="font-weight: 900;">
            Add Comment
        </h6>
        <div class="">
            <textarea class="comment-box-input border"
                placeholder="Write a comment…" name="" id="comment-textarea"
                cols="60" style="resize: none; height:79px;"></textarea>
            <!-- <div class="comment-box-options mb-2 mr-2">
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
            </div> -->
        </div>
        <button v-on:click="PostComment()" class="mt-2 py-1 btn-success btn"
            style="font-weight: 900;">Post</button>
    </div>
</div>