<div class="input-group mb-3">
    <div class="list-group">
        <img class="mr-3 mb-3" src="/public/icon/003-edit-pencil-symbol.png"
            alt="" width="20px" height="20px">        
    </div>    
    <h6 style="font-weight: 900;">
        Add Comment
    </h6>
    <div>
        
        <div class="">
            <textarea class="comment-box-input border"
                placeholder="Write a comment…" name="" id="comment-textarea"
                cols="60" style="overflow:auto; width:100%; resize: none; height:79px;"></textarea>
            <!-- <div class="comment-box-options mb-2 mr-2">
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
                <a class="mx-1" href=""><img src="https://cdn3.iconfinder.com/data/icons/faticons/32/picture-01-512.png"
                        width="16px;" height="16px;" alt=""></a>
            </div> -->
        </div>
        <button v-on:click="PostComment()" class="mt-2 py-1 btn-success btn"
            style="font-weight: 900;">Post</button>
    </div>
</div>