<div class="input-group mb-4">
    <div class="input-group">
        <img class="mr-3" src="/public/icon/012-left-text-alignment-button.png"
        alt="" width="20px" height="20px">
        <h6 style="font-weight: 900;">
            Description
        </h6>
    </div>
    
    <div>
        <div>            
            <div v-if="!isDesciptionEdit" @dblclick="EditDescription" >{{ selected_card.description }}</div>
            <div v-else>
                    <div>
                    <textarea v-bind:value="selected_card.description" type="text" v-focus  class="border comment-box-input"
                    placeholder="Add a more detailed description..." name="" id="description"
                    cols="40" style="overflow:auto; width:100%; border-color: #8A8788; resize: none; height:79px;"></textarea>
                    </div>
                    <div>
                    <button v-on:click="UpdateDescription()" class="mt-2 py-1 btn-success btn"
                        style="font-weight: 900;">Save</button>
                    </div>
            </div>  
            
            <!-- <a class="pb-4 pointer card-detail-fake-text-area"
                style="font-size: 14px; width: 520px;">Add
                a more detailed description…</a> -->
        </div>
        <!-- <button v-on:click="UpdateDescription()" class="mt-2 py-1 btn-success btn"
            style="font-weight: 900;">Save</button> -->
    </div>
</div>