@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

html,
body {
    /* height: 100vh; */
    /* width: 100%; */
    background: ivory;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #232931;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

.dropdown-item:hover {
    background-color: #8A8788;
    color: white;
}

.logo {
    z-index: 10;
    position: absolute;
    top: 75%;
    right: 50;
    width: 150px;
    height: 150px;
}

.column {
    -webkit-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
    -moz-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
    box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
}

.task {}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}
.pointer {cursor: pointer;}

.pointer {
    cursor: pointer;
}

.list-complete-item {
    padding: 4px;
    margin-top: 4px;

    transition: all 0.5s;
}

.card-title-color {
    border-top: 5px solid;
    /* border-top-color: #f73859; */
}

.list-complete-enter,
.list-complete-leave-active {
    opacity: 0;
}


.dragArea {
    min-height: 10px;
}


.column-width{
    width:300px;
    min-width: 300px;
}

.addCard:hover{
    background-color: #CCCCCC
}

.card-item:hover{
    background-color: #CCCCCC
}
.card-item{
    background-color: #f8f8f8
}
.column-button:hover{
    background-color: #CCCCCC
}
.column-button{
    border-width: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
}
.is-hover{
    display: none;
}
.is-hover:hover{
    display: inline;
}
.bottom-border{
    text-decoration: underline;
}
.comment-box-input{
    border: 0;
    border-bottom: 30px solid transparent;
    background: #fff!important;
    height: 75px;
    margin: 0;
    min-height: 75px;
    padding: 9px 11px;
    padding-bottom: 0;    
    resize: none;
    border-radius: 3px;
}
.comment-box-options {
    position: absolute;
    bottom: 45px;
    right: 30px;
}
.comment-box {
    position: relative;
}
.card-detail-fake-text-area {
    background-color: rgba(9,45,66,.08);
    border-radius: 3px;
    color: #6b808c;
    display: block;
    min-height: 40px;
    padding: 7px 9px;
    text-decoration: none;    
}
.card-detail-fake-text-area:hover {
    background-color: rgba(9,45,66,.13);
}
a:hover {
    color: #092d42;
}
.member-avatar {
    height: 32px;
    width: 32px;
    border-radius: 25em;
}
.new-comment .member {
    position: absolute;
    left: -40px;
}
.member-no-menu {
    cursor: default;
}
.member {
    background-color: #dfe3e6;
    border-radius: 25em;
    color: #17394d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}
.button-link{
    background-color: #dfe3e6;
    box-shadow: 0 1px 0 0 #c2ccd1;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}
.member-hover:hover{
    background-color: #8A8788;
}
#board {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* board */
.board-canvas{
    position: relative;
    flex-grow: 1;
}
#board{
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#board::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
.u-fancy-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
#board::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px;
}
#board::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.15);
}
.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: rgba(9,45,66,.08);
}
.list {
    background-color: #dfe3e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}
.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list-wrapper:first-child {
    margin-left: 8px;
}
.list-header.is-menu-shown, .list-header.is-subscribe-shown {
    padding-right: 36px;
}
.list-header {
    flex: 0 0 auto;
    padding: 10px 8px 8px;
    position: relative;
    min-height: 20px;
}
.list-header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* add stage button */
.body-custom-board-background .list-wrapper.mod-add.is-idle {
    background-color: rgba(0,0,0,.24);
}

.list-wrapper.mod-add.is-idle {
    background-color: rgba(0,0,0,.12);
    cursor: pointer;
    color: #fff;
}
.list-wrapper.mod-add {
    background-color: #dfe3e6;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}
.list-wrapper:last-child {
    margin-right: 8px;
}
.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list-wrapper.mod-add.is-idle .placeholder {
    display: block;
}

.list-wrapper.mod-add .placeholder {
    display: none;
    padding: 6px 8px;
    color: hsla(0,0%,100%,.8);
    transition: color 85ms ease-in;
}
.drag-stage{
    width: 100%; 
    overflow-x: auto;
}
.button-add-new-stage{
    position:absolute; 
    top:-2%; 
    right:25px; 
    width: 200px;
}
.left-option{
    max-width: 70%;
}
.right-option{
    max-width: 20%;
}
.right-list-title{
    font-weight:900; 
    font-size:12px;
    color: #6b808c;
}
.select-color{
    max-width: 300px;
}
.btn-select-color{
    border-radius: 10px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.select-color-background{
    background-color: rgba(21, 68, 95, 0.5)
}
.label-dropdown{
    border-bottom: solid rgba(111, 112, 112, 0.5) 0.5px;

}
.color-options{
    width:100%;
    height:200px;
    overflow-y: auto;
}
.btn-add-member{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.tag-style{
    font-size:10px;    
}
.add-text{
    font-size: 20px;
}
.label-color{
    width:100%;
    height: 40px;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 5px;
}
.label-color:focus{
    outline: none;
}
.dropdown-label-style{
    min-width: 300px;
}
@media (max-width: 992px) {
    .left-option{
        max-width: 90%;
    }
    .right-option{
        margin-top: 10px;
        min-width: 40%;
        display: flex;
        justify-content:center;
        margin-bottom: 5%;
    }
    .add-card{
        width:100%;
    }
    .select-color{
        max-width: 300px;
    }
    .color-modal{
        left: 10%;
    }
}




