@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

html,
body {
    /* height: 100vh; */
    /* width: 100%; */
    background: ivory;
    /* overflow: hidden; */
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #F0F8FF; 
}


.logo {
    z-index: 10000;
    position: absolute;
    top: -20;
    right: -50;
    width: 52%;
    height: 30%;
}

.form-control {
    width: inherit;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.flip-card-3D-wrapper {
    width: 90%;
    height: 70%;
    max-width: 300px;
    min-width: 250px;
    position: relative;
    -o-perspective: 900px;
    -webkit-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    margin: 0 auto;
}

#flip-card {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 50px auto;
    position: absolute;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}


#flip-card .flip-card-front,
#flip-card .flip-card-back {
    width: 100%;
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
    -moz-box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
    box-shadow: 2px 3px 32px 1px rgba(133, 133, 133, 0.71);
}

#flip-card .flip-card-front {
    background: #747372;
    border-top: 5px solid #7A1737;
}

#flip-card .flip-card-back {
    background: #747372;
    border-top: 5px solid #7A1737;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-back,
.flip-card-front {
    border-radius: 20px;
}

#flip-card .flip-card-front p,
#flip-card .flip-card-back p {
    color: grey;
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
}
.error-text{
    /* font-size: 10px; */
    color: #7A1737;
}